/********** GLOBAL **********/

/* VARIABLES */

    $main-color: #145374;
    $secord-color: #00334e;
    $bg-color: #f6f5f5;
    $html: #ee6f57;
    $css: #01ABE0;
    $sass: #CF649A;
    $js: #ffd15c;
    $bootstrap: #7952B3;
    $git: #f34c27;
    $instagram: #DD7A9A;    
    $whatsapp: #00BFA5;
    $twitter: #1991DA;
    $bg-socialNetworks: rgba(185, 185, 185, 0.5);
    $tablet: 991px;
    $desktop: 1200px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
   }

body {
    font-family: 'Dosis', sans-serif;
    background-color: #f1f1f1;
}
h1 {
    font-size: 40px;
    color: $bg-color;
}

h2 {
    font-size: 25px;
    font-weight: 300;
    color: $main-color;
}

h3 {
    font-size: 20px;
    color: $main-color;
}

p {
    font-size: 25px;
    color: $main-color;
}

ul li{
    list-style: none;
    width: 100%;
}

a {
    text-decoration: none;
    color: $bg-color;
}

.content {
    font-family: 'Dosis', sans-serif;
    overflow-y: scroll;
    scroll-behavior: smooth;

    .socialNetworks {
        width: 150px;
        padding: 10px 0;

        ul {
            display: flex;   
            li {
                display: flex;
                justify-content: center;
                list-style: none;          
                a {
                    i {
                        font-size: 25px;
                        color: $bg-color;
                    }
                }
            }

            .instagram:hover {
                color: $instagram;
            }

            .twitter:hover {
                color: $twitter;
            }

            .whatsapp:hover {
                color: $whatsapp;
            }
        }
    }

    /********** HEADER **********/

    .navbar {
        background-color: $bg-color!important;
        padding: 10px;
        align-items: center;
        box-shadow: 0 5px #eee;

        @media only screen and (min-width: $desktop) {
            justify-content: space-around;
        }

        .navbar-brand {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-size: 17px;
                margin: 0;
            }
            
            h3 {
                text-align: right;
                font-size: 10.5px;
                margin: 0;
            }
        }

        .navbar-toggler {

            @media only screen and (min-width: $tablet) {
                display: none;
            }

            i {
                font-size: 25px;
                color: $main-color;
            }
        }

        ul {
            li {
                display: flex;
                justify-content: center;

                a {
                    padding: 20px 0;
                    font-size: 40px;
                    display: flex;
                    justify-content: center;
                    color: $main-color!important;
                }
                a:hover {
                    opacity: 0.5;
                }
            }
            li:hover a {
                width: 100%;
                background-color: $bg-color;
                color: $main-color;
            }
        }

        .menu-desktop {
            display: none;

            @media only screen and (min-width: $tablet) {

                display: flex;

                ul {
                    display: flex;
                    flex-direction: row;

                    li {
                        margin: 0 20px;

                        a {
                            font-size: 20px;
                        }
                    }
                }

                .navbar-nav {
                    display: none;
                }
            }
        }
    }

    /********** MAIN **********/

    .main-bg {
        height: 100vh;
        background-image: url(./../../img/cover.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;

        .main-container {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            
            h2 {
                color: $bg-color;
            }

            .scroll-down {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                bottom: 40px;

                p {
                    font-size: 15px;
                    color: $bg-color;
                    margin-bottom: 0;
                }

                i {
                    font-size: 25px;
                    color: $bg-color;
                    padding: 5px 0;
                }
            }
        }
    }

    /********** ABOUT ME **********/

    .about-me {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 0 10px;
    }

    /********** SKILLS **********/

    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media only screen and (min-width: $tablet) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            article {
                width: 300px;
            }
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px 10px;
            max-width: 348px;

            .card-icono {
                width: 100%;
                height: 150px;
                background-color: $main-color;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 10px 10px 0 0;

                i {
                    font-size: 70px;
                    margin: 12px 5px;
                }
                
                .card-icono-html {
                    color: $html;
                }
            
                .card-icono-css {
                    color: $css;
                }
            
                .card-icono-sass {
                    color: $sass;
                }
            
                .card-icono-js {
                    color: $js;
                }
            
                .card-icono-bootstrap {
                    color: $bootstrap;
                }
            
                .card-icono-git {
                    color: $git;
                }
            
                .card-icono-rwd i {
                    color: $bg-color;
                }
                
                h3 {
                    color: $bg-color;
                }
            }

            p {
                padding: 10px;
                background-color: #fff;
                border-radius: 0 0 10px 10px;
                font-size: 20px;
            }
        }
    }

    /********** WORKS **********/

    .works {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /********** CONTACT ME **********/

    .contactMe-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h2 {
            text-align: center;
        }

        .formContact {
            max-width: 700px;
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 100%;

            .data-input {
                display: flex;
                flex-direction: column;

                .label-input {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 0;

                    input {
                        width: 270px;
                        padding: 10px;
                        border-radius: 5px;
                        border: none;
                        left: 100px;
                    }
                }
            }

            .message {
                padding: 10px 0;

                textarea {
                    width: 100%;
                    border: none;
                }
            }

            button {
                width: 100px;
                margin: 10px auto;
                padding: 10px 15px;
                border-radius: 8px;
                background-color: $main-color;
                color: $bg-color;
                border: none;
                cursor: pointer;
            }

            button:hover {
                opacity: 0.5;
            }
        }
    }

    /********** FOOTER **********/

    .footer {
        background-color: $main-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;

        @media only screen and (min-width: $tablet) {
            flex-direction: row;
        justify-content: space-around;
        }

        p {
            color: $bg-color;
            font-size: 12px;
        }

        ul, p {
            margin-bottom: 0;
        }
    }
}