/********** GLOBAL **********/
/* VARIABLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

::-webkit-scrollbar {
  display: none; }

body {
  font-family: 'Dosis', sans-serif;
  background-color: #f1f1f1; }

h1 {
  font-size: 40px;
  color: #f6f5f5; }

h2 {
  font-size: 25px;
  font-weight: 300;
  color: #145374; }

h3 {
  font-size: 20px;
  color: #145374; }

p {
  font-size: 25px;
  color: #145374; }

ul li {
  list-style: none;
  width: 100%; }

a {
  text-decoration: none;
  color: #f6f5f5; }

.content {
  font-family: 'Dosis', sans-serif;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /********** HEADER **********/
  /********** MAIN **********/
  /********** ABOUT ME **********/
  /********** SKILLS **********/
  /********** WORKS **********/
  /********** CONTACT ME **********/
  /********** FOOTER **********/ }
  .content .socialNetworks {
    width: 150px;
    padding: 10px 0; }
    .content .socialNetworks ul {
      display: flex; }
      .content .socialNetworks ul li {
        display: flex;
        justify-content: center;
        list-style: none; }
        .content .socialNetworks ul li a i {
          font-size: 25px;
          color: #f6f5f5; }
      .content .socialNetworks ul .instagram:hover {
        color: #DD7A9A; }
      .content .socialNetworks ul .twitter:hover {
        color: #1991DA; }
      .content .socialNetworks ul .whatsapp:hover {
        color: #00BFA5; }
  .content .navbar {
    background-color: #f6f5f5 !important;
    padding: 10px;
    align-items: center;
    box-shadow: 0 5px #eee; }
    @media only screen and (min-width: 1200px) {
      .content .navbar {
        justify-content: space-around; } }
    .content .navbar .navbar-brand {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .content .navbar .navbar-brand h2 {
        font-size: 17px;
        margin: 0; }
      .content .navbar .navbar-brand h3 {
        text-align: right;
        font-size: 10.5px;
        margin: 0; }
    @media only screen and (min-width: 991px) {
      .content .navbar .navbar-toggler {
        display: none; } }
    .content .navbar .navbar-toggler i {
      font-size: 25px;
      color: #145374; }
    .content .navbar ul li {
      display: flex;
      justify-content: center; }
      .content .navbar ul li a {
        padding: 20px 0;
        font-size: 40px;
        display: flex;
        justify-content: center;
        color: #145374 !important; }
      .content .navbar ul li a:hover {
        opacity: 0.5; }
    .content .navbar ul li:hover a {
      width: 100%;
      background-color: #f6f5f5;
      color: #145374; }
    .content .navbar .menu-desktop {
      display: none; }
      @media only screen and (min-width: 991px) {
        .content .navbar .menu-desktop {
          display: flex; }
          .content .navbar .menu-desktop ul {
            display: flex;
            flex-direction: row; }
            .content .navbar .menu-desktop ul li {
              margin: 0 20px; }
              .content .navbar .menu-desktop ul li a {
                font-size: 20px; }
          .content .navbar .menu-desktop .navbar-nav {
            display: none; } }
  .content .main-bg {
    height: 100vh;
    background-image: url(./../../img/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center; }
    .content .main-bg .main-container {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5); }
      .content .main-bg .main-container h2 {
        color: #f6f5f5; }
      .content .main-bg .main-container .scroll-down {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 40px; }
        .content .main-bg .main-container .scroll-down p {
          font-size: 15px;
          color: #f6f5f5;
          margin-bottom: 0; }
        .content .main-bg .main-container .scroll-down i {
          font-size: 25px;
          color: #f6f5f5;
          padding: 5px 0; }
  .content .about-me {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0 10px; }
  .content .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .content .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media only screen and (min-width: 991px) {
      .content .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; }
        .content .cards article {
          width: 300px; } }
    .content .cards article {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 10px;
      max-width: 348px; }
      .content .cards article .card-icono {
        width: 100%;
        height: 150px;
        background-color: #145374;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px 10px 0 0; }
        .content .cards article .card-icono i {
          font-size: 70px;
          margin: 12px 5px; }
        .content .cards article .card-icono .card-icono-html {
          color: #ee6f57; }
        .content .cards article .card-icono .card-icono-css {
          color: #01ABE0; }
        .content .cards article .card-icono .card-icono-sass {
          color: #CF649A; }
        .content .cards article .card-icono .card-icono-js {
          color: #ffd15c; }
        .content .cards article .card-icono .card-icono-bootstrap {
          color: #7952B3; }
        .content .cards article .card-icono .card-icono-git {
          color: #f34c27; }
        .content .cards article .card-icono .card-icono-rwd i {
          color: #f6f5f5; }
        .content .cards article .card-icono h3 {
          color: #f6f5f5; }
      .content .cards article p {
        padding: 10px;
        background-color: #fff;
        border-radius: 0 0 10px 10px;
        font-size: 20px; }
  .content .works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .content .contactMe-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .content .contactMe-container h2 {
      text-align: center; }
    .content .contactMe-container .formContact {
      max-width: 700px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 100%; }
      .content .contactMe-container .formContact .data-input {
        display: flex;
        flex-direction: column; }
        .content .contactMe-container .formContact .data-input .label-input {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0; }
          .content .contactMe-container .formContact .data-input .label-input input {
            width: 270px;
            padding: 10px;
            border-radius: 5px;
            border: none;
            left: 100px; }
      .content .contactMe-container .formContact .message {
        padding: 10px 0; }
        .content .contactMe-container .formContact .message textarea {
          width: 100%;
          border: none; }
      .content .contactMe-container .formContact button {
        width: 100px;
        margin: 10px auto;
        padding: 10px 15px;
        border-radius: 8px;
        background-color: #145374;
        color: #f6f5f5;
        border: none;
        cursor: pointer; }
      .content .contactMe-container .formContact button:hover {
        opacity: 0.5; }
  .content .footer {
    background-color: #145374;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0; }
    @media only screen and (min-width: 991px) {
      .content .footer {
        flex-direction: row;
        justify-content: space-around; } }
    .content .footer p {
      color: #f6f5f5;
      font-size: 12px; }
    .content .footer ul, .content .footer p {
      margin-bottom: 0; }
